<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mark's App</title>
    <link href="/admin.css" rel="stylesheet"/>
  </head>
</head>
<body>
  <div>
    <main>
        <a href="/profile"> <button>Back To Homepage</button> </a>
      <h1>Settings</h1>
      <h2>Reset Password of Users</h2>   
      <form action="/adminkapasschange", method="post">
        <div class="form-group">
        <label for="">Username</label>
        <input type="text" class="form-control" name="currusername" required></input>
        <label for="">Current Password</label>
        <input type="text" class="form-control" name="currpass" required></input>
        <label for="">New Password</label>
        <input type="text" class="form-control" name="newpass" required></input>
        <label for="">Confirm New Password</label>
        <input type="text" class="form-control" name="confnewpass" required></input>
        </div>
        <input type="Submit" value="Change Password"></input>
    </form>
    {% if pass_message %}
    <p style="color: green;">{{ pass_message }}</p>
    {% endif %}
    {% if passerror_message %}
    <p style="color: red;">{{ passerror_message }}</p>
    {% endif %}
    <h2>Usernames</h2>
    <table border="1">
      <tr>
          <th>Username</th>
          <th>Password</th>
          <th>Is Admin</th>
      </tr>
      {% for user in usersList %}
          <tr>
              <td>{{ user.username }}</td>
              <td>{{ user.password }}</td>
              <td>{{ 'Yes' if user.isAdmin else 'No' }}</td>
          </tr>
      {% endfor %}
  </table>
  <form action="/adminkaadduser", method="post">
    <div class="form-group">
    <label>Add New User</label>
    <label for="">Username</label>
    <input type="text" class="form-control" name="newusername" required></input>
    <label for="">New Password</label>
    <input type="text" class="form-control" name="newpassword" required></input>
    <label for="isAdmin">Is the user an Admin?
      <select id="isAdmin" name="isAdmin" required>
        <option value="">(select one)</option>
        <option value="True">Yes</option>
        <option value="False">No</option>
      </select>
    </label>
    </div>
    <input type="Submit" value="Add User"></input>
</form>
{% if error_message_newUser %}
    <p style="color: red;">{{ error_message_newUser }}</p>
{% endif %}
  </main>
    <footer>
      <p>
        <a href="https://www.freecodecamp.org" target="_blank">Visit our website</a>
      </p>
      <p class="address">123 Free Code Camp Drive</p>
    </footer>
  </div>
</body>
</html>