<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mark's App</title>
    <link href="/login.css" rel="stylesheet"/>
  </head>
  <body>
    <main>
      <h1>Login</h1>
      <section>
        <p> Don't have an account? <a href="/signup">Get Started Now</a></p>
        <form action="/login" method="post">
          <fieldset>
             <input type="text" name="login" placeholder="Login" id="login" required>
            </fieldset>
          <fieldset>
          <input type="password" name="password" placeholder="Password" id="password" required>
          </fieldset>
          <button type="submit">Log in</button>
        </form>
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
        <p><a target="_blank" href="https://freecatphotoapp.com">Forgot your password?</a></p>
      </section>
    </main>
    <footer>
      <p>
       Copyright - <a href="https://www.freecodecamp.org">Mark's Website Privacy Policy</a>
      </p>
    </footer>
  </body>
</html>