<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Mark's App</title>
    <link href="/settings.css" rel="stylesheet"/>
  </head>
</head>
<body>
  <div>
    <main>
      <h1>Settings</h1>
      <h2>Username</h2>
      {% if username %}
      <p style="color: black;">{{ username }}</p>
      {% endif %}
      {% if password %}
      <p style="color: black;">{{ password }}</p>
      {% endif %}       
      <form action="/settings", method="post">
        <label>Reset Password</label>
        <div class="form-group">
        <label for="">Current Password</label>
        <input type="text" class="form-control" name="currpass" required></input>
        <label for="">New Password</label>
        <input type="text" class="form-control" name="newpass" required></input>
        <label for="">Confirm New Password</label>
        <input type="text" class="form-control" name="confnewpass" required></input>
        </div>
        <input type="Submit" value="Change Password"></input>
    </form>
    <footer>
      <p>
        <a href="https://www.freecodecamp.org" target="_blank">Visit our website</a>
      </p>
      <p class="address">123 Free Code Camp Drive</p>
    </footer>
  </div>
</body>
</html>